body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    width: 800px;
    margin: 2em auto;
    border: 3px solid #b59763;
    border-radius: 25px;
	box-shadow: 5px 5px 0 0 rgb(181,151,99, 0.5);
    padding: 0 2em 1em;
}

header {
	text-align: center;
	border-bottom: 3px solid #b59763;
}

nav {
	height: 3em;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

nav a {
	color: #b59763;
	font-size: 110%;
	font-weight: 500;
	border-radius: 0.1em;
	border: 0;
	margin: 1em;
	font-size: 140%;
	font-weight: 800;
}

h1 { 
    font-size: 150%;
    margin: 0 auto;
}

h2 {
	font-size: 140%;
	font-weight: 800;
	text-align: center;
}

select {
	width: 60%;
}

#menu h2 {
	padding-top: 1em;
}

ul {
	list-style-type: none;
	padding: 0;
}
ul li {
	display: inline;
}
ul img {
	width: 30%;
	padding: 0.5em 1%;
}

#total {
	font-size: 140%;
	font-weight: 800;
	margin-top: .5em;
	margin-bottom: .7em;
	text-align: center;
}

select {
	margin: 0 auto;
	height: 8.5em;
	display: flex;
	flex-flow: row;
	justify-content: center;
	width: 50%
}

#buttons {
	padding: 0 auto;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

#buttons input {
	color: white;
	background-color: #b59763;
	font-size: 110%;
	font-weight: 500;
	border-radius: 0.25em;
	padding: 0.5em 1em;
	margin: 0 1em;
	border: 0;
}

#order_form p {
	text-align: center;
	margin-bottom: .7em;
}

#back_link {
	display: flex;
	flex-flow: row;
	justify-content: center;
}

#back_link a {
	color: white;
	background-color: #b59763;
	font-size: 110%;
	font-weight: 500;
	border-radius: 0.25em;
	padding: 0.5em 1em;
	border: 0;
  	text-decoration: none;
}

#about {
	display: flex;
	flex-flow: row;
	justify-content: center;
}

footer {
	margin-top: 3em;
	text-align: center;
}

#error {
	color: red;
}

@media screen and (max-width: 1199px) {
	body {
		width: 90%
	}
	ul img {
		width: 46%;
	}
	select {
		width: 80%
	}

	#buttons {
		flex-flow: column;
	}

	#buttons input {
		width: 60%;
		margin: .5em auto;
	}
} 